@{
    ViewData["Title"] = "Books";
    Layout = "_DashboardLayout.cshtml";
    SelectList Cats = new SelectList(ViewBag.Cats,"Id","Name");
    SelectList Authors = new SelectList(ViewBag.Authors, "Id", "Name");
}
@model Book
<h1>New Book</h1>
<form method="post" asp-action="SaveEditBook" asp-controller="Admin" asp-route-id="@Model.Id">
    <div>
         <label for="Name">Name</label>
         <input asp-for="@Model.Name" class="form-control"/>
         <span asp-validation-for="@Model.Name"></span>
    </div>
     <div>
        <label for="Image">Image</label>
        <input type="file" name="Image" accept="image/*" id="Image" value="@Model.Image"class="form-control"/>
    </div>
     <div>
        <label for="Language">Language</label>
        <input asp-for="@Model.Language" class="form-control"/>
         <span asp-validation-for="@Model.Language"></span>
    </div>
    <div>
        <label for="Pages">Pages</label>
        <input asp-for="@Model.Pages" class="form-control"/>
        <span asp-validation-for="@Model.Pages"></span>
    </div>
      <div>
        <label for="Description">Description</label>
        <input asp-for="@Model.Description" class="form-control"/>
         <span asp-validation-for="@Model.Description"></span>
    </div>
    <div>
        <label for="PublishDate">Publish Date</label>
        <input asp-for="@Model.PublishDate" class="form-control"/>
         <span asp-validation-for="@Model.PublishDate"></span>
    </div>
     <div>
        <label for="Department">Department</label>
        <select asp-for="CategoryId" asp-items="Cats" class="form-control"></select>
    </div>
    <br/>
    <input type="submit" value="Edit" class="btn btn-success" />
</form>
<br/>
<a href="/Admin/Books" class="btn btn-success"> Back To List</a>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

