
@model List<Book>

@foreach (var item in Model) {
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="~/Images/1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>@item.Name</h4>
                <p>@item.PublishDate</p>
                 <p>@item.Language</p>
                    <p>@item.Pages</p>
                 <p>@item.Category.Name</p>
                  @foreach(var item2 in item.authors)
                    {
                         <p>@item2.Name</p>
                    } 
                <div class="portfolio-links">
                  <a href="~/Images/1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="/Book/Details/@item.Id" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          }
